$font-stack: 'Roboto', Arial, sans-serif;
$primary-font-color:black;
$primary-background-color:white;
$menu-item-color: white;
$hamburger-menu-color: black;
$hamburger-menu-color-change:black;
$hamburger-menu-link-color:green;;
$menu-background-color:black;
$toggle-top-location:1rem;
$toggle-left-location:0.5rem;
$max-width-ipad-pro:64rem;
$max-width-ipad:48rem;
$max-width-phone:29.75rem; 